html, body
{
    background-color: #F9F9F9;
}

body
{
    font-size:        14px;
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color:            #313131;
}


.error
{
	color: red;	
}

/***	HEADER  ***/

div#header
{
	background-color: #003463;
	color: #FFFFFF;
	height: 40px;
	padding: 3px 5px 15px;
}
div#header a
{
	color: #FFFFFF;
	text-decoration: none;
}
div#header a:hover
{
	color: #CCC;
	text-decoration: underline;
}
div#main_nav span.nav_links
{
	float: left;
	margin-left: 230px;
	padding: 2px;
}
span.nav_links a
{
	padding: 8px;
}
div#main_nav div#login
{
	float: right;
	margin-right: 30px;
	padding: 2px;
}


/***	CONTENT  ***/

div#content
{
	padding: 10px 0px;
}



/***	FOOTER  ***/


div#footer
{
	padding: 10px 0px;
}