{% extends '::base.html.twig' %}

{% block title %}User info{% endblock %}

{% block login_block %}<div id="login_empty"></div>{% endblock %}

{% block body %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}