{% extends '::base.html.twig' %}

{% block body %}
<h2>This is the home page to the Friending Library.</h2>
It's still under works, but soon you'll be able to add your library, and share with others. 
{% endblock %}

