<html>
    <head>
        <title>New Book created</title>
    </head>
    <body>
        A new book will be created with the isbn: {{isbn}}
        <br/>
        For user: <pre>{{user}}</pre> 
        <pre>{{google_books}}</pre>
    </body>
</html>